<app-main-nav></app-main-nav>

<img class="rectangle-icon" [src]="restaurantData.image" />

<div class="restaurant-page-card">
  <div class="category">
    <p>{{ restaurantData.category }}</p>
  </div>
  <div class="name">
    <h2 class="name">{{ restaurantData.name }}</h2>
  </div>
  <div class="location mt-5">
    <p>{{ restaurantData.location }}</p>
  </div>
  <div class="averageprice mt-4">
    <p>Mesas: {{ restaurantData.numberoftables }}</p>
  </div>
  <div class="averageprice mt-4">
    <p>Capacidade: {{ restaurantData.capacity }}</p>
  </div>
  <div class="averageprice mt-4">
    <p>Preço médio: {{ restaurantData.averageprice }}€</p>
  </div>
  <div class="openingdays">
    <p>{{ restaurantData.openingdays }}:</p>
    <p class="ms-2">
      {{ restaurantData.openinghours }} - {{ restaurantData.closinghours }}
    </p>
  </div>
  <div class="desc">
    <p>
      {{ restaurantData.desc }}
    </p>
  </div>
  <div class="reservar-botao text-center">
    <button class="reservar" (click)="goToReservation(restaurantData.id)">
      Reservar
    </button>
  </div>

  <div class="calendario">
    <br /><br />
    <ngb-datepicker
      #dp
      [(ngModel)]="selectedDate"
      [minDate]="minDate"
    ></ngb-datepicker>
  </div>
</div>
