<link rel="stylesheat" href="restaurants-preview.component.css">

<div class="restaurant-preview">
  <div class="footer">
    <div class="footer1"></div>
    <b class="theknife-todos-container">
      <p class="theknife-">© 2023 TheKnife -</p>
      <p class="theknife-">Todos os direitos reservados</p>
    </b>
    <img
      class="icbaseline-facebook-icon"
      alt=""
      src="./public/icbaselinefacebook.svg"
    />

    <img class="mdiinstagram-icon" alt="" src="./public/mdiinstagram.svg" />

    <img class="mdilinkedin-icon" alt="" src="./public/mdilinkedin.svg" />

    <div class="sobre-ns-contactos-container">
      <p class="theknife-">Sobre Nós</p>
      <p class="theknife-">&nbsp;</p>
      <p class="theknife-">Contactos</p>
      <p class="theknife-">&nbsp;</p>
      <p class="theknife-">Tem um restaurante?</p>
      <p class="theknife-">&nbsp;</p>
      <p class="theknife-">Restaurantes</p>
      <p class="theknife-">&nbsp;</p>
      <p class="theknife-">Termos de Utilização</p>
    </div>
    <div class="geraltheknifept-351-253-container">
      <p class="theknife-">geral@theknife.pt</p>
      <p class="theknife-">&nbsp;</p>
      <p class="theknife-">+351 253 453 565</p>
      <p class="theknife-">&nbsp;</p>
      <p class="theknife-">Lorem ipsum dolor sit amet.</p>
      <p class="theknife-">4564-767 Braga</p>
    </div>
  </div>
  <div class="restaurant-page-card">
    <div class="rpreview-details"></div>
    <div class="escrever-avaliao">
      <div class="pesquisar">Escrever Avaliação</div>
    </div>
    <img
      class="restaurant-page-card-child"
      alt=""
      src="./public/rectangle-28.svg"
    />

    <div class="descreva-a-sua">*Descreva a sua experiência</div>
    <div class="pontuao">
      <div class="pontuao1">Pontuação</div>
      <img
        class="arrow-drop-down-icon"
        alt=""
        src="./public/arrow-drop-down.svg"
      />
    </div>
    <div class="deixe-a-sua">Deixe a Sua Avaliação</div>
    <div class="mais-avaliaes">
      <div class="pesquisar">Mais Avaliações</div>
    </div>
    <div class="avaliao-card">
      <img
        class="avaliao-card-child"
        alt=""
        src="./public/rectangle-26.svg"
      />

      <img
        class="avaliao-card-item"
        alt=""
        src="./public/rectangle-27@2x.png"
      />

      <div class="gonalo-silva">Gonçalo Silva</div>
      <div class="de-novembro-de">10 de novembro de 2023</div>
      <div class="lorem-ipsum-dolor1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="div">8.8</div>
    </div>
    <div class="avaliao-card1">
      <img
        class="avaliao-card-child"
        alt=""
        src="./public/rectangle-26.svg"
      />

      <img
        class="avaliao-card-item"
        alt=""
        src="./public/rectangle-27@2x.png"
      />

      <div class="gonalo-silva">Gonçalo Silva</div>
      <div class="de-novembro-de">10 de novembro de 2023</div>
      <div class="lorem-ipsum-dolor1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="div">8.8</div>
    </div>
    <div class="avaliao-card2">
      <img
        class="avaliao-card-child"
        alt=""
        src="./public/rectangle-26.svg"
      />

      <img
        class="avaliao-card-item"
        alt=""
        src="./public/rectangle-27@2x.png"
      />

      <div class="gonalo-silva">Gonçalo Silva</div>
      <div class="de-novembro-de">10 de novembro de 2023</div>
      <div class="lorem-ipsum-dolor1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="div">8.8</div>
    </div>
    <div class="avaliaes">Avaliações</div>
    <img
      class="restaurant-page-card-item"
      alt=""
      src="./public/rectangle-24@2x.png"
    />

    <div class="reservar">
      <b class="reservar1">Reservar</b>
    </div>
    <div class="here-at-il">
      Here at Il Gusto Italiano we provide the client with lorem ipsum dolor
      sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.
    </div>
    <b class="fechados">
      <span class="fechados-txt">
        <p class="theknife-">12:00 - 15:00 / 19:00 - 23:00</p>
        <p class="theknife-">Fechados</p>
      </span>
    </b>
    <b class="segunda-sexta-container">
      <span class="fechados-txt">
        <p class="theknife-">Segunda - Sexta:</p>
        <p class="theknife-">Domingos:</p>
      </span>
    </b>
    <div class="preo-mdio-25">Preço médio: 25€</div>
    <a
      class="r-dom-paio"
      href="https://www.google.com/maps/place//data=!4m2!3m1!1s0xd24fec2c019b335:0xc66a740078aae60?sa=X&ved=2ahUKEwjO6L6L89SCAxWrSaQEHaZFCeUQ4kB6BAgOEAA"
      target="_blank"
      >R. Dom Paio Mendes 25, 4700-424 Braga</a
    >
    <div class="il-gusto-italiano">Il Gusto Italiano</div>
    <b class="comida-italiana">Comida Italiana</b>
  </div>
  <img
    class="restaurant-img-icon"
    alt=""
    src="./public/restaurant-img@2x.png"
  />

  <div class="nav-rectangle">
    <div class="footer1"></div>
    <img class="person-icon" alt="" src="./public/person.svg" />

    <b class="restaurantes1">Restaurantes</b>
    <div class="sobre-ns1">Sobre Nós</div>
    <div class="contactos1">Contactos</div>
    <img
      class="logo-lightmode-1-icon"
      alt=""
      src="./public/logolightmode-1@2x.png"
    />

    <div class="pesquisar-parent">
      <div class="pesquisar">Pesquisar...</div>
      <img class="search-icon" alt="" src="./public/search.svg" />
    </div>
  </div>
</div>
