.hr-loginform {
    justify-content: center;
    width: 90%;
    color: #fff;
  }
  
  .grid {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  
  .col-sm-9 {
    width: 550px;
  }
  
  .login-socialmedia {
    text-align: center;
  }
  
  .login-socialmedia img {
    width: 20px;
  }
  
  .form {
    width: 90%;
    height: 3.5vh !important;
    border-radius: 7px;
  }
  
  .inputs {
    text-align: center !important;
  }
  
  ::placeholder {
    color: #000;
    font-size: 14px;
  }
  
  ::-ms-input-placeholder {
    color: #000;
  }
  
  .card-body {
    background-color: #1B1B1B !important;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 4px #ccc;
  }
  
  .card-signin {
    border: 0;
    border-radius: 0rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .card-signin .card-title {
    font-weight: bolder;
    font-size: 18px;
    color: #fff;
  }
  
  .card-signin .card-body {
    padding: 2rem;
    flex: 1;
  }
  
  .form-signin {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .form-signin .btn {
    font-size: 14px;
    font-weight: normal;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .btn-google,
  .btn-facebook {
    font-weight: 500 !important;
    font-size: 14px !important;
    padding: 0.8vh !important;
    color: #000;
    background-color: #fff;
    width: 90%;
  }
  
  .forgotpassword-link,
  .forgotpassword-p,
  .savesession {
    color: #fff;
  }
  
  .forgot-remember {
    display: inline-flex;
  }
  
  .subtext {
    color: #fff;
    font-weight: 400;
  }
  
  .createacc-p {
    color: #fff;
    font-weight: 100;
    font-size: 14px;
  }
  
  .card2 .card-body {
    text-align: center;
  }
  
  .li-e-aceito-os-termos-e-condi-es-e-o-uso-dos-meus-dados-pessoais-como-explicado-pela-pol-tica-de-privacidade-span {
    color: #ffffff;
    font-family: var(--cardparagraph-font-family, 'RobotoSerif-Regular', sans-serif);
    font-size: var(--cardparagraph-font-size, 14px);
    font-weight: var(--cardparagraph-font-weight, 400);
    }
  
  .li-e-aceito-os-termos-e-condi-es-e-o-uso-dos-meus-dados-pessoais-como-explicado-pela-pol-tica-de-privacidade-span2 {
    color: #e33629;
    font-family: var(--cardparagraph-font-family, 'RobotoSerif-Regular', sans-serif);
    font-size: var(--cardparagraph-font-size, 14px);
    font-weight: var(--cardparagraph-font-weight, 400);
    }
  
  .li-e-aceito-os-termos-e-condi-es-e-o-uso-dos-meus-dados-pessoais-como-explicado-pela-pol-tica-de-privacidade-span3 {
    color: #ffffff;
    font-family: var(--cardparagraph-font-family, 'RobotoSerif-Regular', sans-serif);
    font-size: var(--cardparagraph-font-size, 14px);
    font-weight: var(--cardparagraph-font-weight, 400);
    }
  
  .li-e-aceito-os-termos-e-condi-es-e-o-uso-dos-meus-dados-pessoais-como-explicado-pela-pol-tica-de-privacidade-span4 {
    color: #e33629;
    font-family: var(--cardparagraph-font-family, 'RobotoSerif-Regular', sans-serif);
    font-size: var(--cardparagraph-font-size, 14px);
    font-weight: var(--cardparagraph-font-weight, 400);
    }
  
  .li-e-aceito-os-termos-e-condi-es-e-o-uso-dos-meus-dados-pessoais-como-explicado-pela-pol-tica-de-privacidade-span5 {
    color: #ffffff;
    font-family: var(--cardparagraph-font-family, 'RobotoSerif-Regular', sans-serif);
    font-size: var(--cardparagraph-font-size, 14px);
    font-weight: var(--cardparagraph-font-weight, 400);
    }
  
  
  input[type="checkbox"] {
    margin-right: 10px; 
  }
  
  label {
    font-size: 14px;
  }
  