@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "@fontsource/work-sans";
@import 'ngx-toastr/toastr';

html, body {
  height: 100%;
}

body {
  margin: 0;
}

* {
  font-family: "Work Sans";
}
